.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 2s  ;
    transition: all 500ms ease-in-out;
  }
  span.Typewriter__wrapper {
    font-family: 'Bebas Neue' !important;
    font-size: 38px !important;
    display: block;
    padding-top: 30px;
    height: 140px !important;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0) rotate(200deg);
      height: 45vh;
      border-radius: 200px;
      align-items: center !important;
      filter: grayscale(1);
    }
    100% {
      transform: scale(1) rotate(360deg);
      height: 100vh;
      border-radius: 0px;
      filter: grayscale(0);
    }
  }
  
  .zoom-in-zoom-outa {
    animation: zoom-in-zoom-outa 5s ease-out ;
    transition: all 200ms ease-in-out;
  }
  
  @keyframes zoom-in-zoom-outa {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
        transform: scale(1.5);
      }
  }

  .ske-01 { animation-name: skeOne;}

  @keyframes skeOne {
    0% {transform: skew(0);}
    100% {transform: skew(5deg);}
  }
  .ske-01, .ske-02, .ske-03, .ske-04 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    transform-origin: 20% 50%;
  }

  .ske-02 { animation-name: skeTwo;}

  @keyframes skeTwo {
    0% {transform: skew(0);}
    100% {transform: skew(1deg);}
  }
.ske-02 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    transform-origin: 20% 50%;
  }

  .swiper-slide-active .faderight {
    color: #fff;
    animation: fadeInRight 3s ease-in-out;
  }
  
/* text sleek animation fade effect */
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
    }
  }

  .swiper-slide-active .fadeleft {
    color: #fff;
    animation: fadeInLeft 3s ease-in-out;
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
    }
  }

  .swiper-slide-active .fadeup {
    color: #fff;
    animation: fadeInUp 3s ease-in-out;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translatey(-200px);
    }
    to {
      opacity: 1;
    }
  }
/* bacground css animation */
  .swiper-slide-active #zoomeffect {
    color: #fff;
    animation: zoomEffect 8s ease-in-out infinite;
    transition: all 3s ease-in-out;
    background-position: center !important;
  }
  
  @keyframes zoomEffect {
    0% {background-size:200%;}
    50% {background-size:160%;}
    100% {background-size:200%;}
  }

  .swiper-slide-active #scalex {
    color: #fff;
    animation: scaleEffect 8s ease-in-out infinite;
    transition: all 3s ease-in-out;
  }
  
  @keyframes scaleEffect {
    0% {background-position-x:0%; }
    50% {background-position-x:100%;}
    100% {background-position-x:0%;}
  }
  #scalezoom {
    background-position: center !important;
  }
  .swiper-slide-active #scalezoom {
    color: #fff;
    animation: scaleZoom 8s ease-in-out infinite;
    transition: all 3s ease-in-out;

  }
  
  @keyframes scaleZoom {
    0% {background-position-x:0% !important; background-size:180%;}
    50% {background-position-x:30% !important; background-size:160%;}
    100% {background-position-x:0% !important; background-size:180%;}
  }

  .menu .navimg, span.navimg {
    background-position: center;
    border-radius: 0 !important;
    background: radial-gradient(circle, rgba(1,167,158,1) 30%, rgba(28,116,188,1) 80%);
    border-radius: 10px 30px 0 30px !important;
    margin-bottom: 10px;
    background-position: 0 0;
    background-size: 200% 200%;

}
.call_btn>a>button {
    animation: buttonAnim 3s;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  animation-timing-function: ease-in-out;
  }
  
  @keyframes buttonAnim {
    0% { background-position: 10% ;} 
    50% {background-position: 150% ;}
    100% {background-position: 10% ;}
  }

  span.navimg {
    animation: iconAnim 3s;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  animation-timing-function: ease-in-out;
  }
  
  @keyframes iconAnim {
    0% { background-position: 10% ;} 
    50% {background-position: 150% ;}
    100% {background-position: 10% ;}
  }

