:root {
  --blue: #0e76bc;
  --white: #ffffff;
  --green: #00a651;
  --blackfont: #000000;
  --frontfont: #ffffff;
  --sblue: rgb(13 62 92 / 55%);
}

* {
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none !important;
}

body {
  overflow-x: hidden !important;
  position: relative;
  z-index: 9999999;
  overflow-y: hidden !important;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html {
  overflow-x: hidden !important;
  overflow-y: hidden;
}

body {
  overflow-x: hidden !important;
}

@media (max-width: 520px) {
  .topheader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .logoContainer {
    background-color: white;
    padding: 16px 12px;
  }

  .headcontent svg {
    font-size: 32px;
    color: white;

  }

  .display-text-group {
    display: none;
  }

  .innerbuyNow1 {
    margin-top: 46px !important;
  }

  .topheaderbox {
    box-shadow: none !important;
    height: 122px;
  }

  .topheaderbox {
    box-shadow: -8px 8px 56px 60px #ffffff;

    position: relative;
  }

  .read-more-button {
    cursor: pointer;
  }

  .topheader1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }

  /* Side Bar */
  .menu {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    gap: 15px;
    top: 30%;
    transition: all 700ms ease-in-out;
  }

  .headercontent {
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin-right: 69px;
    align-items: center;
  }

  .headercontent>button {
    background-color: #0fb583;
    color: var(--white);
    border: none;

    padding: 10px 22px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  span.text {
    padding-right: 10px;
    text-transform: uppercase;
  }

  span.text1 {
    border-radius: 10px 0 0 10px;
    padding: 10px;
  }

  .menu:hover span.text {
    padding-right: 10px;
    text-transform: uppercase;
  }

  .linkstyle {
    list-style: none;
    text-decoration: none;
  }

  /* Footer Bar */

  .call_btn {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .call_btn>button>img {
    margin: 0 10px;
  }

  .call_btn>p {
    padding-top: 16px;
  }

  .Calculate_btn>p {
    padding-top: 16px;
  }

  .Chat_btn>p {
    padding-top: 16px;
  }

  .Calculate_btn {
    background-color: var(--white);
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: var(--blackfont);
    font-weight: 300;
    width: 110px;
  }

  .Chat_btn {
    background-color: var(--blue);
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: var(--frontfont);
    font-weight: 300;
    width: 110px;
  }

  .item {
    justify-content: end;
    display: flex;
    transition: all 700ms ease-in-out;
  }

  span.whitebg {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 700ms ease-in-out;
    position: relative;
  }

  span.text {
    height: 54px;
    border-radius: 10px 0px 0px 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0%;
    z-index: 9;
    opacity: 0;
    color: #fff;
    transition: all 700ms ease-in-out;
    font-size: 11px;
  }

  .navimg {
    color: var(--frontfont);
    height: 80px !important;
    width: 80px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 999999;
    position: relative;
    border-radius: 10px 0px 0px 10px;
    transition: all 700ms ease-in-out;
  }

  .menu:hover span.text {
    transition: all 700ms ease-in-out;
    position: absolute;
    right: 100%;
    z-index: 9999;
    width: auto;
    opacity: 1;
    font-size: 11px;
  }

  .menu .navimg {

    /* transition: all 700ms ease-in-out;
    background: linear-gradient(360deg, #0E76BC 2.94%, #0E76BC 84.97%, rgba(14, 118, 188, 0.53) 95.59%);
    box-shadow: 0px 5.17483px 10.3497px #9C9A9C; */
    /* border-radius: 43.986px; */
    /* border: 2px solid #0E76BC; */
  }

  .menu:hover .navimg {

    transition: all 700ms ease-in-out;

  }

  .text-center.topheader.aboutheader {
    width: 100% !important;
    margin: auto;
  }

  .AboutSection {
    /* background-image: url("./assets/AboutBackground.png"); */
    background: #000000 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
  }

  .newabout {
    background-color: var(--blue);
    display: flex;
    width: 122px;
    border-radius: 10px 0px 0px 10px !important;
  }

  .AboutSectionContent>p {
    text-align: start;
    padding-top: 10px;
  }

  .container-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }

  /* leftSidbar */
  .menuLeft {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    gap: 15px;
    top: 62%;
    transition: all 700ms ease-in-out;
  }

  .items {
    justify-content: center;
    display: flex;
    transition: all 700ms ease-in-out;
  }

  .items>span {
    width: 56px;
    height: 54px;
    align-items: center;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
  }

  .items>span>img {
    align-items: center;
  }

  /* about */
  .section {
    margin-top: 97px;
    height: 60vh;
    /* overflow-y: scroll; */
    padding-left: 40px;
    padding-right: 104px;
  }

  .section>p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    padding: 1px 3px;
  }

  .sectionArrange {
    margin-top: 50%;
  }

  .aboutactive {
    background: var(--green);
    border-radius: 10px 0px 0px 10px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--frontfont);
    height: 54px;
    width: 65px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 999999;
    position: relative;
    border-radius: 10px 0px 0px 10px;
    transition: all 700ms ease-in-out;
  }

  .bgColor {
    background: var(--white);
    border-radius: 10px 0px 0px 10px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--frontfont);
    height: 54px;
    width: 65px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 999999;
    position: relative;
    border-radius: 10px 0px 0px 10px;
    transition: all 700ms ease-in-out;
  }

  .linkstyle:active {
    background: var(--green);
    border-radius: 10px 0px 0px 10px !important;
  }

  /* mobilemenu */
  .mobileMenu {
    background-image: url("./assets/mobilemenubg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    transition: all ease-in-out;
  }

  .accordion-item {
    margin: 1px 0;
  }

  .mobileMenu>div {
    background: #0069bd;
    height: 100vh;

    position: fixed;
    width: 100vw;
  }

  .menuBar {
    margin-top: 60px;
    width: 92%;
  }

  .menuBar>span {
    position: absolute;
    top: 6px;
    right: 26px;
    font-size: 28px;
  }

  .accordion-button {
    color: #676767 !important;
    background-color: var(--bs-accordion-btn-bg) !important;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }

  .accordion-body {
    background: #15578c;
    color: var(--white);
  }

  .menuBar li {
    list-style: none;
    padding: 10px 0px;
  }

  .accordion {
    --bs-accordion-body-padding-x: 0px !important;
  }

  .accordion-button::after {
    content: "+" !important;
    background-image: none !important;

    font-size: 20px;
    font-weight: 400;
    color: #676767;
  }

  .accordion-button:not(.collapsed)::after {
    content: "-" !important;
    transform: none !important;
    font-size: 20px;
    font-weight: 400;
    color: #676767;
  }

  .AboutEsg {
    margin-top: 20px;
  }

  .AboutEsgContent {
    padding: 20px;
  }

  .AboutEsg>div>p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .AboutEsg>div>img {
    height: 70%;
  }

  .headcontent {
    display: flex;
    align-items: center;
  }

  .react-reveal.section.features::-webkit-scrollbar {
    width: 0.1em;
  }

  .d-flex.justify-content-between {
    justify-content: center !important;
  }

  .justify-content-between {
    justify-content: center !important;
  }

  .buyNowMain.fordesktop h4 {
    text-align: center;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    color: var(--white);
    padding-top: 25px;
  }

  .fordesktop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

.buynowpage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Buynowform h4 {
  padding-left: 20px;
  z-index: 99999;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96%;
  color: #FFFFFF;
}
.Buynowform {
  display: block;
  width: 100%;
}



  .form {
    margin-top: 30px;
  }

  .innerbuyNow>div>input {
    border-radius: 30px;
    width: 93%;
    height: 80px;
    margin: 18px auto;
    border: none;
    align-items: center;
    display: flex;
    padding: 10px 50px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 17.1424px;
    line-height: 17px;
  }

  .innerbuyNow>div>input:focus {
    outline: none;
  }

  .innerbuyNow>div>input::placeholder {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 17.1424px;
    line-height: 17px;
    margin-left: 20px;
    color: #b5b5b5;
  }

  .formSubmit {
    display: flex;
    justify-content: end;
    bottom: 20px;
    padding-bottom: 20px;
    margin-right: 23px;
  }

  .formSubmit>button {
    border-radius: 30px;
    margin: 0 10px;
    padding: 15px 50px;

    border: none;

    color: var(--white);
    text-transform: uppercase;
  }

  .formSubmit> :first-child {
    background: var(--white);
    color: var(--blackfont);
  }

  .formSubmit> :last-child {
    background: linear-gradient(360deg, #0E76BC 2.94%, #00A79D 84.97%, #00A651 95.59%);
    align-items: center;
    justify-content: center;
  }

  /* product features  */
  .features {
    font-family: "Proxima Nova" !important;
    font-style: normal;
    width: 70%;
    font-weight: 400;
    color: var(--blackfont);
  }

  .features>h3 {
    font-family: "Proxima Nova" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: var(--green);
  }

  .display-text-group {
    font-size: 14px;
    line-height: 33px;
  }

  .topheadershadow {
    display: none;
  }

  .shows {
    display: block !important;
  }

  .menuLeft {
    opacity: 0;
  }

  .container-sm {
    width: 100% !important;
  }

  .formoblie {
    display: none !important;
  }

  .fordesktop {
    display: block !important;
  }

  /* css */

  .homepagesec h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 48px !important;
      line-height: 96%;
      color: #FFFFFF;

  }

  .homepagesec p {
    color: #fff;
    font-size: 14px;
    padding-right: 40px;
  }

  .homepagesec img {
    position: relative;
    z-index: 1;
  }

  .container-fluid.main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .main1:before {
    content: unset !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 9999;
  }

  .menuLeft {
    left: -10px !important;
    top: 60% !important;
    gap: 5px !important;
  }

  .container.menuBar svg {
    z-index: 99999999;
    position: absolute;
    right: 5px;
    top: -45px;
  }

  .container.menuBar svg:hover {
    cursor: pointer;
  }

  .headcontent img:hover {
    cursor: pointer;
  }

  .section {
    height: 62vh !important;
  }

  .menu {
    top: 11% !important;
    gap: 7px !important;
  }

  .aboutus h3 {
    font-weight: 700;
    font-size: 23px !important;
  }

  .display-text-group {
    font-size: 14px !important;
    line-height: 25px !important;
    display: block !important;
    margin-bottom: 35px !important;
  }

  .read-more-button {
    color: #fff;
    text-transform: capitalize;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    display: initial;
    font-weight: 600;
    text-decoration: underline;
  }

  .section {
    padding-left: 20px !important;
    padding-right: 70px !important;
  }

  .react-reveal .aboutus {

    background-repeat: no-repeat;
    background-size: cover;
  }

  .aboutus:before {
    content: unset !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
    overflow-x: hidden;
  }

  .AboutSection span {
    color: #fff !important;
  }

  .react-reveal.section.features.aboutus {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
    /* overflow-y: hidden !important; */
  }

  .react-reveal.section.features {
    width: 100%;
  }

  .heightcontrol {
    height: 68vh !important;
    overflow-y: scroll;
    position: relative;
    width: 400px;
    margin: auto;
    padding-right: 150px;
    overflow-x: hidden !important;
  }

  .heightcontrol h3 {
    color: #00a651;
    font-weight: 800;
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .heightcontrol p {
    color: #fff;
  }

  .heightcontrol h2 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }

  .AboutSection {
    overflow-y: hidden !important;
  }

  .react-reveal.AboutSection .topheaderbox {
    /* box-shadow: -8px 8px 16px 20px var(--white) !important; */
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  .shariah {
    background-image: url("../src/assets/advisor.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  .shariah:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .details {
    background-image: url("../src/assets/detail.PNG");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .details:before {
    content: unset !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .react-reveal.section.features.details {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
  }

  .react-reveal.section.features.shariah {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
  }

  .react-reveal.section.features.coc {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
  }

  .coc {
    background-image: url("../src/assets/coc.PNG");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .coc:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .d-flex.justify-content-between {
    display: block !important;
  }

  .item:hover {
    cursor: pointer;
  }



  .managment {
    background-image: url("../src/assets/Managment.PNG") !important;
    background-position: center;
  }

  .auditor {
    background-image: url("../src/assets/auditor.PNG") !important;
    background-position: center;
  }

  .advisor {
    background-image: url("../src/assets/advisorg.PNG") !important;
    background-position: center;
  }

  .shareholding {
    background-image: url("../src/assets/share.PNG") !important;
    background-position: center;
  }

  th {
    color: #fff;
    border: 1px solid #fff !important;
    font-size: 13px;
    padding: 10px;
    text-align: center !important;
  }

  td {
    color: #fff;
    border: 1px solid #fff !important;
    font-size: 13px;
    padding: 8px;
    text-align: center;
  }

  .productoverview {
    background-image: url("../src/assets/po.PNG") !important;
    background-position: left;
  }

  .react-reveal.container-fluid.AboutSection {
    padding: 0;
  }

  .supercharge {

    background-position-x: center;
  }

  .bonus {
    background-image: url("../src/assets/bonus.PNG") !important;
    background-position: center;
  }

  .flexible {
    background-image: url("../src/assets/Flexible.PNG") !important;
    background-position: center;
  }

  .unlimited {
    background-image: url("../src/assets/unlimited.PNG") !important;
    background-position: center;
  }

  .zero {
    background-image: url("../src/assets/zero.PNG") !important;
    background-position: center;
  }

  .wakala {
    background-image: url("../src/assets/wakala.PNG") !important;
    background-position: center;
  }

  .inclusive {
    background-image: url("../src/assets/inclusive.PNG") !important;
    background-position: center;
  }

  .additoinal {
    background-image: url("../src/assets/additional.PNG") !important;
    background-position: center;
  }

  .suplimentary {
    background-image: url("../src/assets/suplimentary.PNG") !important;
    background-position: 28%;
  }

  .additoinal li {
    color: #fff !important;
  }

  .additoinal ul {
    padding-left: 1.1rem;
  }

  .suplimentary li {
    color: #fff !important;
    list-style: none;
  }

  .suplimentary ul {
    padding-left: 1.1rem;
  }

  .investment li {
    color: #fff !important;
    list-style: none;
  }

  .investment ul {
    padding-left: 0.1rem;
  }

  table {
    width: 100%;
  }

  .investment table {
    background-color: #fff2cc;
  }

  .investment table,
  th,
  td {
    border-color: #929292 !important;
    color: #000000;
  }

  .investment {
    background-image: url("../src/assets/investment.PNG") !important;
    background-position: 28%;
  }

  .charge li {
    color: #fff !important;
    list-style: none;
  }

  .charge ul {
    padding-left: 0.1rem;
  }

  .charge table {
    background-color: #fff2cc;
  }

  .charge table,
  th,
  td {
    border-color: #929292 !important;
    color: #000000;
  }

  .charge {
    background-image: url("../src/assets/investment.PNG") !important;
    background-position: 28%;
  }

  .charge table {
    margin-bottom: 30px;
  }

  .shareholding table {
    background-color: #fff2cc;
  }

  .shareholding table,
  th,
  td {
    border-color: #929292 !important;
    color: #000000;
  }

  .topheaderbox {
    height: 80px !important;

  }

  .homepagesec h2 {
    padding-top: 55px !important;
  }

  .homepagesec p {
    color: #fff;
    font-size: 14px;
    padding-right: 40px;
    height: 280px;
    overflow-y: scroll;
  }

  li {
    font-size: 14px !important;
  }

  .menu:hover span.text {
    z-index: 99999999 !important;
    font-weight: 900 !important;
  }

  /* .navimg,
  span.text {
    background: rgb(14 118 188 / 92%) !important;
  } */

  .heightcontrol h3 {
    background: #00000061;
    padding: 5px 3px;
  }

  .menuLeft .items span {
    width: 50px;
    transition: all 300ms ease-in-out;
  }

  .menuLeft .items span img {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }

  .menuLeft .items span:hover {
    width: 50px;
    transition: all 300ms ease-in-out;
  }

  .menuLeft .items span:hover img {
    opacity: 1;
    position: relative;
    right: -3px;
    transition: all 300ms ease-in-out;
  }

  .footerbottom {
    z-index: 999999999;
  }

  .menuLeft {
    z-index: 9999999999;
  }

  /* .footerbottom {
    position: fixed;
    width: 100% !important;
    left: 0;
    bottom: 0% !important;
    height: 70px !important;
  } */
  .call_btn>a>button {
    background-color: var(--green);
    height: 50px;
    font-size: 18px;
    margin: auto;
    color: var(--frontfont);
    font-weight: 300;
    border-radius: 50px;
    border: none;
    font-family: "Proxima Nova";
    font-style: normal;
  }



  .call_btn>a>button img {
    width: 27px;
    margin-right: 10px;
  }

  .container.submenus button {
    padding: 15px 25px !important;
    background: #15578c !important;
    color: #fff !important;
    box-shadow: none !important;
    border: unset !important;
    outline: unset !important;
  }

  .mobileMenu .accordion-body {
    padding: 0px 0 !important;
    background: #00a651;
  }

  .submenus .accordion {
    border: unset !important;
  }

  .submenus .accordion-button::after {
    color: #fff;
  }

  .submenus .accordion-button:not(.collapsed)::after {
    color: #fff;
  }

  .submenus ul {
    padding: 0px 25px;
    padding-bottom: 10px;
    margin: 0;
  }

  .submenus .accordion-button:not(.collapsed) {
    border-radius: 0;
    background: #00a651 !important;
  }

  .container.submenus {
    padding: 0;
  }

  .submenus .accordion-item {
    margin: 0 !important;
    border: unset !important;
  }

  .submenus .accordion-item a {
    color: #fff !important;
    text-decoration: unset;
  }

  .formSubmit {
    justify-content: center;
  }

  .formSubmit>button {
    border-radius: 30px;
    margin: 0 2px;

    height: 63px;
    width: 170px;
  }

  .formSubmit {
    margin-right: 0px !important;
  }

  .formoblie {
    display: block !important;
  }

  .fordesktop {
    display: none !important;
  }

  .shows {
    display: none !important;
  }

  .menuLeft {
    opacity: 1;
  }

  .topheader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .topheaderbox {

    position: relative;
  }

  .topheadershadow {
    height: -12px;
    background: #fff;

    position: relative;
  }

  .topheader1 {
    width: 85%;
  }

  .main1 {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }

  .slide1 {
    background-image: url("./assets/slide1.PNG");
  }

  .slide2 {
    background-image: url("./assets/slide2.PNG");
  }

  .slide3 {
    background-image: url("./assets/slide3.PNG");
  }

  .slide4 {
    background-image: url("./assets/slide4.PNG");
  }

  .slide5 {
    background-image: url("./assets/slide5.PNG");
  }

  .container-fluid.main {
    padding: 0;
  }

  .col-sm-12.homepagesec {
    padding: 0;
  }

  .myheading.main1 h2 {
    padding-left: 20px;
    z-index: 99999;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96%;
    color: #FFFFFF;

  }

  /* Side Bar */
  .menu {
    display: flex;
    position: absolute;
    right: 13px;
    flex-direction: column;
    gap: 15px;
    top: 20%;
    transition: all 700ms ease-in-out;
  }

  a>span.text {
    padding-right: 10px;
    text-transform: uppercase;
  }

  /* span.text1 {
        background-color: var(--blue);
        border-radius: 10px 0 0 10px;
        padding: 10px;
    } */

  .menu:hover span.text {
    padding-right: 10px;
    text-transform: uppercase;
  }

  .linkstyle {
    list-style: none;
    text-decoration: none;
  }

  .call_btn {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .call_btn>a>button {
    border-radius: 50px !important;
    width: 60vw ;
  }

  .call_btn>button>img {
    margin: 0 10px;
  }

  .call_btn>p {
    padding-top: 16px;
  }

  .Calculate_btn>p {
    padding-top: 16px;
  }

  .Chat_btn>p {
    padding-top: 16px;
  }

  .Calculate_btn {
    background-color: var(--white);
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: var(--blackfont);
    font-weight: 300;
    width: 110px;
  }

  .Chat_btn {
    background-color: var(--blue);
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: var(--frontfont);
    font-weight: 300;
    width: 110px;
  }

  .item {
    justify-content: end;
    display: flex;
    transition: all 700ms ease-in-out;
  }

  span.whitebg {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 700ms ease-in-out;
    position: relative;
    border-radius: 50px;
    z-index: 999999;
  }

  span.text {
    /* background: rgba(14, 118, 188, 0.6); */
    height: 54px;
    border-radius: 10px 0px 0px 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0%;
    z-index: 9;
    opacity: 0;
    color: #fff;
    transition: all 700ms ease-in-out;
    font-size: 11px;
  }

  .navimg {
    color: var(--frontfont);
    height: 80px !important;
    width: 80px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 999999;
    position: relative;
    border-radius: 10px 0px 0px 10px;
    transition: all 700ms ease-in-out;
  }

  /* 
  .menu:hover span.text {
    transition: all 700ms ease-in-out;
    position: absolute;
    right: 100%;
    z-index: 9999;
    width: auto;
    opacity: 1;
    font-size: 11px;
  }

  .menu:hover .navimg {
    border-radius: 0px 0px 0px 0px;
    transition: all 700ms ease-in-out;
  } */

  .text-center.topheader.aboutheader {
    width: 90%;
    margin: auto;
  }

  .AboutSection {
    background-image: url("./assets/AboutBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;
    height: 100vh;
  }

  .newabout {
    background-color: var(--blue);
    display: flex;
    width: 122px;
    border-radius: 10px 0px 0px 10px !important;
  }

  .AboutSectionContent>p {
    text-align: start;
    padding-top: 10px;
  }

  .container-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* leftSidbar */
  .menuLeft {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    gap: 15px;
    top: 62%;
    transition: all 700ms ease-in-out;
  }

  .items {
    justify-content: center;
    display: flex;
    transition: all 700ms ease-in-out;
  }

  .items>span {
    width: 56px;
    height: 54px;
    align-items: center;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
  }

  .items>span>img {
    align-items: center;
  }

  /* about */
  .section {
    margin-top: 97px;
    height: 50vh;
    overflow-y: scroll;
    padding-left: 40px;
    padding-right: 104px;
  }

  .section>p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    padding: 1px 3px;
  }

  .sectionArrange {
    margin-top: 50%;
  }

  .aboutactive {
    background: var(--green);
    border-radius: 10px 0px 0px 10px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--frontfont);
    height: 54px;
    width: 65px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 999999;
    position: relative;
    border-radius: 10px 0px 0px 10px;
    transition: all 700ms ease-in-out;
  }

  .bgColor {
    background: var(--white);
    border-radius: 10px 0px 0px 10px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--frontfont);
    height: 54px;
    width: 65px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 999999;
    position: relative;
    border-radius: 10px 0px 0px 10px;
    transition: all 700ms ease-in-out;
  }

  .linkstyle:active {
    background: var(--green);
    border-radius: 10px 0px 0px 10px !important;
  }

  /* mobilemenu */
  .mobileMenu {
    background-image: url("./assets/mobilemenubg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    transition: all ease-in-out;
  }

  .accordion-item {
    margin: 1px 0;
  }

  .mobileMenu>div {
    background: #0069bd;
    height: 100vh;

    position: fixed;
    width: 100vw;
  }

  .menuBar {
    margin-top: 28%;
    width: 92%;
  }

  .menuBar>span {
    position: absolute;
    top: 6px;
    right: 26px;
    font-size: 28px;
  }

  .accordion-button {
    color: #676767 !important;
    background-color: var(--bs-accordion-btn-bg) !important;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }

  .accordion-body {
    background: #15578c;
    color: var(--white);
  }

  .menuBar li {
    list-style: none;
    padding: 10px 0px;
  }

  .accordion {
    --bs-accordion-body-padding-x: 0px !important;
  }

  .accordion-button::after {
    content: "+" !important;
    background-image: none !important;

    font-size: 20px;
    font-weight: 400;
    color: #676767;
  }

  .accordion-button:not(.collapsed)::after {
    content: "-" !important;
    transform: none !important;
    font-size: 20px;
    font-weight: 400;
    color: #676767;
  }

  .AboutEsg {
    margin-top: 20px;
  }

  .AboutEsgContent {
    padding: 20px;
  }

  .AboutEsg>div>p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .AboutEsg>div>img {
    height: 70%;
  }

  .buyNowMain {
    background-image: url("./assets/buynowbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }




  .buyNowHeader>h4 {
    padding-left: 20px;
    z-index: 99999;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96%;
    color: #FFFFFF;
  }

  .form {
    margin-top: 30px;
  }

  .innerbuyNow>div>input {
    border-radius: 30px;
    width: 95vw;
    height: 60px;
    margin: 18px auto;
    border: none;
    align-items: center;
    display: flex;
    padding: 10px 22px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 17.1424px;
    line-height: 17px;
  }

  .innerbuyNow>div>input:focus {
    outline: none;
  }

  .formSubmit> :first-child {
    background: #757675;
    color: var(--white);
  }

  .formSubmit> :last-child {
    background: linear-gradient(360deg, #0E76BC 2.94%, #00A79D 84.97%, #00A651 95.59%);
    align-items: center;
    justify-content: center;
  }

  /* product features  */
  .features {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    text-align: left !important;
    width: 100% !important;
    font-size: 16px;
    color: var(--blackfont);
  }

  .features>h3 {
    font-weight: 700;
    font-size: 28px;
    color: var(--green);
  }

  .display-text-group {
    font-size: 20px;
    line-height: 33px;
    display: block !important;
  }

  .AboutEsg {
    overflow: hidden !important;
  }

  .headercontent {
    display: none;
  }

  .section>p {
    display: none;
  }

  .formHeader {
    display: none !important;
  }

  /* Hassan Whole css start */
  .homepagesec h2 {
    color: #fff;
    padding-top: 0px !important;
    padding-right: 70px;
    font-weight: 800;
  }

  .homepagesec p {
    color: #fff;
    font-size: 14px;
    padding-right: 40px;
  }

  .homepagesec img {
    position: relative;
    z-index: 1;
  }

  .container-fluid.main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 9999;
  }

  .topheader.topheaderbox {
    position: fixed;
    z-index: 9;

    width: 100%;
    top: 0;
    z-index: 999999;
  }

  .menuLeft {
    left: -10px !important;
    top: 60% !important;
    gap: 5px !important;
  }

  .container.menuBar svg {
    z-index: 99999999;
    position: absolute;
    right: -10px;
    top: -85px;
  }

  .section {
    height: 62vh !important;
  }

  .menu {
    top: 15% !important;
    gap: 0px !important;
  }

  .aboutus h3 {
    font-weight: 700;
    font-size: 23px !important;
  }

  .display-text-group {
    font-size: 14px !important;
    line-height: 25px !important;
    display: block !important;
    margin-bottom: 35px !important;
  }

  .read-more-button {
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    display: initial;
    font-weight: 700;
    text-decoration: underline;
  }

  .section {
    padding-left: 20px !important;
    padding-right: 70px !important;
  }

  .react-reveal .aboutus {

    background-repeat: no-repeat;
    background-size: cover;
  }

  .aboutus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
    overflow-x: hidden;
  }

  .AboutSection span {
    color: #fff !important;
  }

  .react-reveal.section.features.aboutus {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
    /* overflow-y: hidden !important; */
  }

  .react-reveal.section.features {
    width: 100%;
  }

  .heightcontrol {
    height: 68vh !important;
    overflow-y: scroll;
    position: relative;
    width: 400px;
    margin: auto;
    padding-right: 150px;
    overflow-x: hidden !important;
  }

  .heightcontrol h3 {
    color: #00a651;
    font-weight: 800;
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .heightcontrol p {
    color: #fff;
  }

  .heightcontrol h2 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }

  /* .AboutSection {
    overflow-y: hidden !important;
  } */
  .react-reveal.AboutSection .topheaderbox {
    /* box-shadow: -8px 8px 16px 20px var(--white) !important; */
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  .shariah {
    background-image: url("../src/assets/advisor.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  .shariah:before {
    content: unset !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .details {
    background-image: url("../src/assets/detail.PNG");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .details:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .react-reveal.section.features.details {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
  }

  .react-reveal.section.features.shariah {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
  }

  .react-reveal.section.features.coc {
    margin: 0;
    padding-top: 0%;
    height: 100vh !important;
  }

  .coc {
    background-image: url("../src/assets/coc.PNG");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .coc:before {
    content: unset !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    z-index: 0;
  }

  .d-flex.justify-content-between {
    display: block !important;
  }

  .item:hover {
    cursor: pointer;
  }

  .board {
    background-image: url("../src/assets/board.PNG") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .managment {
    background-image: url("../src/assets/Managment.PNG") !important;
    background-position: center;
  }

  .auditor {
    background-image: url("../src/assets/auditor.PNG") !important;
    background-position: center;
  }

  .advisor {
    background-image: url("../src/assets/advisorg.PNG") !important;
    background-position: center;
  }

  .shareholding {
    background-image: url("../src/assets/share.PNG") !important;
    background-position: center;
  }

  th {
    color: #fff;
    border: 1px solid #fff !important;
    font-size: 13px;
    padding: 10px;
    text-align: center !important;
  }

  td {
    color: #fff;
    border: 1px solid #fff !important;
    font-size: 13px;
    padding: 8px;
    text-align: center;
  }

  .productoverview {
    background-image: url("../src/assets/po.PNG") !important;
    background-position: left;
  }

  .react-reveal.container-fluid.AboutSection {
    padding: 0;
  }

  .supercharge {
    background-image: url("../src/assets/productbg.png") ;
    background-position-x: center;
  }

  .bonus {
    background-image: url("../src/assets/bonus.PNG") !important;
    background-position: center;
  }

  .flexible {
    background-image: url("../src/assets/Flexible.PNG") !important;
    background-position: center;
  }

  .unlimited {
    background-image: url("../src/assets/unlimited.PNG") !important;
    background-position: center;
  }

  .zero {
    background-image: url("../src/assets/zero.PNG") !important;
    background-position: center;
  }

  .wakala {
    background-image: url("../src/assets/wakala.PNG") !important;
    background-position: center;
  }

  .inclusive {
    background-image: url("../src/assets/inclusive.PNG") !important;
    background-position: center;
  }

  .additoinal {
    background-image: url("../src/assets/additional.PNG") !important;
    background-position: center;
  }

  .suplimentary {
    background-image: url("../src/assets/suplimentary.PNG") !important;
    background-position: 28%;
  }

  .additoinal li {
    color: #fff !important;
  }

  .additoinal ul {
    padding-left: 1.1rem;
  }

  .suplimentary li {
    color: #fff !important;
    list-style: none;
  }

  .suplimentary ul {
    padding-left: 1.1rem;
  }

  .investment li {
    color: #fff !important;
    list-style: none;
  }

  .investment ul {
    padding-left: 0.1rem;
  }

  table {
    width: 100%;
  }

  .investment table {
    background-color: #fff2cc;
  }

  .investment table,
  th,
  td {
    border-color: #929292 !important;
    color: #000000;
  }

  .investment {
    background-image: url("../src/assets/investment.PNG") !important;
    background-position: 28%;
  }

  .charge li {
    color: #fff !important;
    list-style: none;
  }

  .charge ul {
    padding-left: 0.1rem;
  }

  .charge table {
    background-color: #fff2cc;
  }

  .charge table,
  th,
  td {
    border-color: #929292 !important;
    color: #000000;
  }

  .charge {
    background-image: url("../src/assets/investment.PNG") !important;
    background-position: 28%;
  }

  .charge table {
    margin-bottom: 30px;
  }

  .shareholding table {
    background-color: #fff2cc;
  }

  .shareholding table,
  th,
  td {
    border-color: #929292 !important;
    color: #000000;
  }

  .topheaderbox {
    height: 80px !important;

  }

  .homepagesec h2 {
    padding-top: 0px !important;
  }

  .homepagesec p {
    color: #fff;
    font-size: 14px;
    padding-right: 40px;
    height: 280px;
    overflow-y: scroll;
  }

  li {
    font-size: 14px !important;
  }

  .menu:hover span.text {
    z-index: 99999999 !important;
    font-weight: 900 !important;
  }
/* 
  .navimg,
  span.text {
    background: rgb(14 118 188 / 92%) !important;
  } */

  .heightcontrol h3 {
    background: #00000061;
    padding: 5px 3px;
  }

  .menuLeft .items span {
    width: 50px;
    transition: all 300ms ease-in-out;
  }

  .menuLeft .items span img {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }

  .menuLeft .items span:hover {
    width: 50px;
    transition: all 300ms ease-in-out;
  }

  .menuLeft .items span:hover img {
    opacity: 1;
    position: relative;
    right: -3px;
    transition: all 300ms ease-in-out;
  }

  .col-sm-12.homepagesec .display-text-group {
    color: #fff;
    margin-right: 45px;

    overflow-y: scroll;
  }

  /* .col-sm-12.homepagesec{
    height: 100vh;
  } */
  .footerbottom {
    z-index: 999999999;
  }

  .menuLeft {
    z-index: 9999999999;
  }

  .call_btn>a>button {
    height: 50px;
    font-size: 18px;
    margin: auto;
    color: var(--frontfont);
    font-weight: 300;
    border-radius: 50px;
    font-family: "Proxima Nova";
    font-style: normal;
    background: linear-gradient(360deg, #0E76BC 2.94%, #00A79D 84.97%, #00A651 95.59%);
    box-shadow: 0px 5.17483px 10.3497px rgba(0, 0, 0, 0.2);
    border-radius: 43.986px;
  }

  .call_btn>a>button img {
    width: 27px;
    margin-right: 10px;
  }

  .container.submenus button {
    padding: 15px 25px !important;
    background: #15578c !important;
    color: #fff !important;
    box-shadow: none !important;
    border: unset !important;
    outline: unset !important;
  }

  .mobileMenu .accordion-body {
    padding: 0px 0 !important;
    background: #00a651;
  }

  .submenus .accordion {
    border: unset !important;
  }

  .submenus .accordion-button::after {
    color: #fff;
  }

  .submenus .accordion-button:not(.collapsed)::after {
    color: #fff;
  }

  .submenus ul {
    padding: 0px 25px;
    padding-bottom: 10px;
    margin: 0;
  }

  .submenus .accordion-button:not(.collapsed) {
    border-radius: 0;
    background: #00a651 !important;
  }

  .container.submenus {
    padding: 0;
  }

  .submenus .accordion-item {
    margin: 0 !important;
    border: unset !important;
  }

  .submenus .accordion-item a {
    color: #fff !important;
    text-decoration: unset;
  }

  .heightcontrol {
    height: 65vh !important;
    overflow-y: scroll;
    position: relative;
    width: 400px;
    margin: auto;
    padding-right: 150px;
  }

  /* scroll css */

  button.btn-scroll {
    position: fixed;
    bottom: 12%;
    left: 0%;
    background: unset;
    border: unset;
    color: #fff;
    font-weight: 900;
    text-decoration: underline;
    width: 100%;
  }

  .row.footercentr {
    justify-content: center;
  }

  .designtitle h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px !important;
    line-height: 96%;
    color: #FFFFFF;
  }
  .designtitle h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px !important;
    line-height: 96%;
    color: #FFFFFF;
  }

  .designtitle h3 {
    /* background: #00000061; */
    padding: 5px 3px;
  }

  .col.call_btn.footerbottom {
    position: fixed;
    bottom: 2%;
    width: 100%;
    z-index: 9999999;
  }

  .col-sm-12.homepagesec {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-y: scroll;
  }

  .myheading h2 {
    color: #fff;
  }

  .opac1 .displayed-text {
    color: #fff;
  }

  .myheading {
    display: flex;
    align-items: center;
  }

  .opac1 {
    display: flex;
    align-items: center;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 9% !important;
  }

  span.swiper-pagination-bullet {
    background-color: #a0a29f;
    width: 13px;
    height: 13px;
  }

  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #61b35e;
  }

  .col-sm-12.homepagesec .display-text-group {
    color: #fff;
    overflow-y: scroll;
    height: 450px;
  }

  .myheightmin {
    min-height: 600px;
    display: flex;
    align-items: center;
  }

  .heightchild {
    height: 300px;
    overflow-y: scroll;
  }

  .menu img {
    width: 60%;
    padding: 2px;
    position: relative;
    top: -8px;
  }

  .zoominheader {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 12s ease-in infinite;
    animation: zoomin 12s ease-in infinite;
    transition: all 2s ease-in-out;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  .swiper-slide {
    width: 400px;
  }

  /* Zoom in Keyframes */
  /* @-webkit-keyframes zoomin {
    0% {
      transform: scale(0.98);
    }

    50% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(0.98);
    }
  }

  @keyframes zoomin {
    0% {
      transform: scale(0.98);
    }

    50% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(0.98);
    }
  } */

  .zoominheaderabt {
    /* position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 12s ease-in infinite;
    animation: zoomin 12s ease-in infinite;
    transition: all 2s ease-in-out;
    overflow: hidden; */
    background-repeat: no-repeat;
    height: 100vh !important;
    margin: 0 !important;
  }

  /* Zoom in Keyframes */
  /* @-webkit-keyframes zoomin {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.09);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomin {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.09);
    }
    100% {
      transform: scale(1);
    }
  } */




  /* 
@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
} */

  .Typewriter {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    padding: 28px;
    z-index: 9999;
  }

  .preloader .Typewriter {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    padding: 28px;
    z-index: 9999;
    font-family: 'Dancing Script', cursive !important;
  }

  .row.preloader {
    background: #000000bf;
    text-align: center;
    height: 100vh;
    align-items: center;
  }

  .zindex {
    z-index: 999999;
  }
  .navimg, span.text {
    border-radius: 60px;
    justify-content: center;
}
.footerbottom button {
  border: 5px solid #0E76BC !important;
  width: 60vw !important;
  height: 8vh !IMPORTANT;
  font-family: 'Nanum Gothic', sans-serif !important;
  font-size: 25px !important;
  font-weight: 400 !important;
}
.col.call_btn.footerbottom div {
  margin: 0 0px;
  position: relative;
  top: 15px;

}
.react-reveal {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.menu .navimg, span.navimg{
  background-image: url('../src/assets/bgicon.png') !important;
  background-position: center;
  border-radius: 0 !important;
}
span.navimg img{
  position: relative;
  top: -7px;
}
h1, h2, h3, h4 {
  font-family: 'Bebas Neue', sans-serif !important;
}
p, span{
  font-family: 'Inter', sans-serif;
  font-size: 17px !important;
}
button.btn-scroll img {
  width: 15%;
}
.hometext{
  display: flex;
  align-items: center;
}
.hometext .display-text-group {
  padding-left: 15px;
  padding-right: 50px;
}
.col.call_btn.footerbottom img {
  width: 50% !important;
}
.buynowpage .footerbottom {
  display: flex;
  justify-content: center;
  margin-bottom: -20%;
  margin-top: 25%;
}
.footerbottom.submitform{
  display: block;
  justify-content: center;
  margin-bottom: -20%;
  margin-top: 10% !important;
}
.submitform .formSubmit button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px !important;
  width: 150px !important;
  font-size: 18px !important;
}
.formSubmit> :last-child{
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerbuyNow>div>input {
  margin: 4px auto !important;
}
.react-reveal.innerbuyNow.next input {
  margin-bottom: 10px !important;
}
.Buynowform .nextcall{
  position: relative;
  top: 5px;
  margin: 0 -5px;
}
/* newcss */
.mainslider, .swiper-slider{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 0.7s ease-out ;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1);
  }
}
}

@media only screen and (max-width: 380px) {

  /* button.btn-scroll {
    bottom: 23%;
  } */
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 23% !important;
  }
  .col-sm-12.homepagesec .display-text-group {
    color: #fff;
    overflow-y: scroll;
    height: 300px !important;
}
.buynowpage .footerbottom {
  display: flex;
  justify-content: center;
  margin-bottom: -5%;
  margin-top: 10%;
}
.footerbottom.submitform{
  display: block;
  justify-content: center;
  margin-bottom: -10%;
  margin-top: 3% !important;
}
.innerbuyNow>div>input {
  margin: 4px auto !important;
}
}
